<%= form_with model: @task, local: true do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :details %>
  <%= f.text_field :details %>
  <label for="checkbox">Completed</label>
  <%= f.check_box :completed %>

  <%= f.submit %>
<% end %>
<%= link_to "Back to list", index_path %>
